beautifulsoup4==4.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
curl-cffi==0.11.4
frozendict==2.4.6
idna==3.10
llvmlite==0.44.0
multitasking==0.0.11
numba==0.61.2
numpy==2.2.6
pandas==2.3.0
pandas-ta==0.3.14b0
peewee==3.18.1
platformdirs==4.3.8
protobuf==6.31.1
py-lets-be-rational==1.0.1
py-vollib==1.0.1
py-vollib-vectorized==0.1.1
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scipy==1.15.3
simplejson==3.20.1
six==1.17.0
soupsieve==2.7
typing-extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
websockets==15.0.1
yfinance==0.2.63
